{% extends 'index.html' %}

{% load static %}

{% block extracss%}

<!--home.html css-->
<link rel="stylesheet" href="{%static 'css/home.css' %}" type="text/css">
<link rel="stylesheet" href="{%static 'css/productpage.css' %}" type="text/css">

{% endblock %}

{% block container %}

<div class="row">
    <img class="col-sm-12 herosection p-0" src="{%static 'images/productherosection.webp' %}" alt="">
</div>

<div class="mb-5">
    <div class="productsection row justify-content-center">
        <h5 class="h5-header col-lg-12 mt-5">OUR</h5>
        <h2 class="h2-header col-lg-12 mb-2">PRODUCTS</h2>

        {% for category, pd in products.items %}
        <div class="col-12 h4 mb-3 mt-3 mb-1 mt-lg-5 mb-lg-4">
            <h3 class="category-h2 pl-5">{{category}}</h3>
        </div>
        <div class="row col-lg-10 justify-content-start">
            {% for product in pd %}
            <div class="shadow col-lg-3 card my-3 mx-4" style="width: 15rem;">
                <img class="card-img-top" src="/static{{product.product_card_image.url}}" alt="Card image cap">
                <div class="card-body text-center">
                    <a href="{% url 'product_details' product_name=product.product_name %}">
                        <h5 class="card-title">{{product.product_name}}</h5>
                    </a>
                    <p class="card-text text-left">{{product.product_summary}}</p>
                    <a href="{% url 'product_details' product_name=product.product_name %}"
                        class="btn btn-primary mt-2">Read Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}